@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import "tailwindcss";

@import "./ScrollAnimation.css";



input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
  box-shadow: none;
}

input,
textarea {
  border: none;
  outline: none;
  border-bottom: 2px solid #d1d5db;
  background-color: transparent;
  transition: border-bottom-color 0.35s ease-out;
}

input:focus,
textarea:focus {
  border-bottom-color: #27272a;
}



@layer utilities {
  .font-delius {
    font-family: "Delius", cursive;
  
  }


  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #000000;
  }
  button {
    background-color: #f9f9f9;
  }
}

