.scroll-fade-in {
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
}

.scroll-fade-in.visible {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

.card-slide-left-to-right {
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
}

.card-slide-left-to-right.visible {
    opacity: 1;
    transform: translateX(0);
}

.card-slide-bottom-to-top {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
}

.card-slide-bottom-to-top.visible {
    opacity: 1;
    transform: translateY(0);
}

.card-slide-right-to-left {
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
}

.card-slide-right-to-left.visible {
    opacity: 1;
    transform: translateX(0);
}
