.scroll-fade-in {
    opacity: 0;
    transform: translateX(120px);
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -o-transform: translateX(120px);
}

.scroll-fade-in.visible {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

.left-to-right-anim {
    opacity: 0;
    transform: translateX(-120px);
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
    -webkit-transform: translateX(-120px);
    -moz-transform: translateX(-120px);
    -ms-transform: translateX(-120px);
    -o-transform: translateX(-120px);
}

.left-to-right-anim.visible {
    opacity: 1;
    transform: translateX(0);
}

.bottom-to-top-anim {
    opacity: 0;
    transform: translateY(120px);
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
    -webkit-transform: translateY(120px);
    -moz-transform: translateY(120px);
    -ms-transform: translateY(120px);
    -o-transform: translateY(120px);
}

.bottom-to-top-anim.visible {
    opacity: 1;
    transform: translateY(0);
}

.right-to-left-anim {
    opacity: 0;
    transform: translateX(120px);
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
    -webkit-transform: translateX(120px);
    -webkit-transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
    -moz-transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
    -ms-transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
    -o-transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
}

.right-to-left-anim.visible {
    opacity: 1;
    transform: translateX(0);
}
.truck-animation {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
}

.truck-animation.visible {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.undo-animation {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
}

.undo-animation.visible {
    opacity: 1;
    transform: translateY(0);
}

.headset-animation {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
}

.headset-animation.visible {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.women-background-animation {
    opacity: 0;
    transition: opacity 1.6s ease-in-out, transform 1.2s ease-in-out;
    -webkit-transition: opacity 1.6s ease-in-out, transform 1.2s ease-in-out;
    -moz-transition: opacity 1.6s ease-in-out, transform 1.2s ease-in-out;
    -ms-transition: opacity 1.6s ease-in-out, transform 1.2s ease-in-out;
    -o-transition: opacity 1.6s ease-in-out, transform 1.2s ease-in-out;
}

.women-background-animation.visible {
    opacity: 1;

}

